{% extends "AppAero/padre.html" %}
{% load static %}
{% block navbar %}
<li class="nav-item"><a class="nav-link" href="pasajerosformulario">Pasajeros</a></li>
<li class="nav-item"><a class="nav-link" href="azafatasformulario">Azafatas</a></li>
<li class="nav-item"><a class="nav-link" href="pilotosformulario">Pilotos</a></li>
<li class="nav-item"><a class="nav-link" href="boletosformulario">Boletos</a></li>
<li class="nav-item"><a class="nav-link" href="busquedaapellido">Busqueda</a></li>
{% endblock %}
{% block modificable %}
<h1 class="mx-auto my-0 text-uppercase">Busqueda de pasajeros y personal</h1>

<form action="{% url 'buscar' %}"  method="GET">
    <h3> Ingrese el apellido de la persona que busca: </h3>

    <input type="text" name="apellido" id="apellido">

    <input type="submit" value="Buscar">

</form>
{% endblock %}